{% extends 'base_user.html' %}

{% block head %}
    <title>Il mio profilo</title>
{% endblock %}

{% block header %}
    <h1 style="margin-top:10px">Il mio profilo | {{ utente.username | capfirst }}</h1>
{% endblock %}

{% block manage_profile %}
    <a href="{% url 'users:modify_profile' %}">
        <input class="btn btn-default" value="Modifica Profilo" style="padding:6px 30px">
    </a>
    <a href="{% url 'attivita:add' %}">
        <input class="btn btn-default" value="Aggiungi Attività" style="padding: 6px 15px">
    </a>
{% endblock %}

{% block profile_info %}
    <h2>ATTIVITA GESTITE:</h2>
    {% for att in utente.owner_profile.attivita_set.all %}
        <p><a href="{% url 'attivita:detail' att.id%}">{{ att.nome }}</a></p>
    {% endfor %}
{% endblock %}

{% block notifications %}
<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Notifiche
    <span class="caret"></span></button>
    <ul class="dropdown-menu" style="height:175px;width:250px;overflow-y:auto;overflow-x:auto">
    {% if notifiche %}
        {% for n in notifiche %}
            <li>
                <div class="row-fluid">
                    {{ n.mittente.user.username }} ha recensito {{ n.recensione.attivita.nome }}
                </div>
                <div class="row-fluid" align="center">
                    <a href="{% url 'notifications:reply' n.id %}">
                        <input class="btn btn-default" value="Reply" style="width:65px">
                    </a>
                    <a href="{% url 'notifications:delete_notification' n.id %}">
                        <input class="btn btn-default" value="X" style="width:65px">
                    </a>
                </div>
                <div class="divider"></div>
            </li>
        {% endfor %}

    {% else %}
        <li>
            <div align="center">Nessuna notifica in entrata</div>
        </li>
    {% endif %}
    </ul>
</div>
{% endblock %}

{% block delete_profile %}
<div align="center" style="margin-top:30px">
    <a href="{% url 'users:delete_profile' %}">
        <input class="btn btn-default" value="Elimina Profilo" onclick="return confirm('Are you sure?');" style="padding:6px 30px">
    </a>
</div>
{% endblock %}