{% extends "base.html" %}

{% block head %}
    <title>{{ attivita.nome }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
      <div class="col-md-12" align="center">
        <h1>{{ attivita.nome }}    |    REP: {{ attivita.reputazione | floatformat }}</h1>
      </div>
  </div>
  <div class="col-md-1" align="center"></div>
  <div class="col-md-4" align="center">
      <div class="row">
          <div class="col-md-4" align="center"></div>
          <div class="col-md-8" align="center"><h3>Dati Locale</h3></div>
          <div class="row-fluid">
              <div class="col-md-4" align="center"></div>
              <div class="col-md-8" align="center">
                 <p>{{ attivita.citta }}, {{ attivita.indirizzo }}</p>
                 <p>Proprietario:
                     <a href="{% url 'users:user_profile' attivita.proprietario.user.id %} ">
                     {{ attivita.proprietario.user.username }}</a></p>
                 {% if attivita.tipologie.count > 0 %}
                     <p>|
                     {% for t in attivita.tipologie.all %}
                        {{ t.nome }} |
                     {% endfor %}
                     </p>
                 {% endif %}
                 <p>{{ attivita.descrizione }}</p>
                 {% if request.user.owner_profile == attivita.proprietario %}
                    <a href="{% url 'attivita:modify' attivita.id %}">
                    <input class="btn btn-default" value="Modifica Attività" style="padding: 6px 15px">
                    </a>
                 {% endif %}
            </div>
        </div>
      </div>
  </div>
  <div class="col-md-5" align="center">
      <div class="row">
          <div class="col-md-12" align="center"><h3>Recensioni</h3></div>
      </div>
          {% if recensioni %}
              <div class="row-fluid" style="overflow-y:auto;height:215px">
                  {% if error_rec_msg %}
                      <p style="color: red">{{ error_rec_msg }}</p>
                  {% endif %}

                  {% for r in recensioni %}
                    <div class="col-md-8">
                    <p>
                      <h4><a href="{% url 'users:user_profile' r.autore.user.id %}">{{ r.autore.user.username }}</a>
                          | Voto: {{ r.voto }}</h4>
                      <h6>{{ r.data }}</h6>
                      <p>{{ r.testo }}</p>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-5">
                            <a href="{% url 'recensioni:vote_pos' r.id %}">
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </button>
                            </a>
                        </div>
                        <div class="col-md-3">
                            {{ r.utilita }}
                        </div>
                        <div class="col-md-2">
                            <a href="{% url 'recensioni:vote_neg' r.id %}">
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                  {% endfor %}
              </div>
          {% else %}
              <div class="row-fluid">
                  <div class="col-md-12">
                      <h4>Nessuna Recensione</h4>
                  </div>
              </div>
          {% endif %}

      <div class="row-fluid">
          <a class="btn btn-default" href="{% url 'attivita:recensisci' attivita.id %}" style="margin-top:15px">Scrivi recensione</a>
      </div>
  </div>

</div>
    <div class="col-md-2" align="center"></div>

  <div class="row-fluid">
  <div class="col-md-12" align="center"><h3>Immagini</h3></div>
  <div class="row-fluid">
  <div class="col-md-4" align="center"></div>
  <div class="col-md-4" align="center" style="margin-bottom: 30px">
    {% if attivita.image_set.count > 0 %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              {% with attivita.image_set.all|first as img %}
              {% load static %}
              <img src="{% static img.get_relative_path %}" style="height:250px">
              {% endwith %}
            </div>
              {% for img in attivita.image_set.all|slice:"1:" %}
                <div class="item">
                  {% load static %}
                  <img src="{% static img.get_relative_path %}" style="height:250px">
                </div>
              {% endfor %}
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    {% else %}
        <h4>Nessuna immagine disponibile</h4>
    {% endif %}
  </div>
    <div class="col-md-4" align="center"></div>
  </div>
  </div>
    {% if recensioni %}
    <div class="row-fluid">
        <div class="col-md-12" align="center"><h3 style="margin-top:10px"><h3>Tag Cloud</h3></div>
    </div>
    <div class="row-fluid">
        <div class="row-fluid">
            <div class="col-md-12" align="center" style="margin-bottom: 30px">
              <button class="btn btn-default" onclick="toggleView()" style="margin-bottom: 15px">Show/Hide TagCloud</button>
            </div>
        </div>
        <div class="col-md-12" align="center">
          {% load static %}
              <img id ="tagCloud" src="{% static attivita.get_relative_tagcloud_url %}"
                  style="display: none; margin-bottom: 50px; width: 80%;">
        </div>
    </div>
    {% endif %}
    <div class="row-fluid">
        <div class="col-md-12" align="center">
          {% if attivita.longitudine and attivita.latitudine %}
              <div id="googleMap" style="width:70%;height:300px;margin-bottom:70px"></div>
          {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
          <script>
              function toggleView() {
                  var x = document.getElementById("tagCloud");
                  if (x.style.display === "none") {
                      x.style.display = "block";
                  } else {
                      x.style.display = "none";
                  }
              }

              {% if attivita.latitudine and attivita.longitudine %}
                  function myMap() {
                      var mapProp= {
                        center:new google.maps.LatLng({{ attivita.latitudine }}, {{ attivita.longitudine }}),
                        zoom:15
                      };
                      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                      var marker = new google.maps.Marker({
                        position: {lat: {{ attivita.latitudine }}, lng: {{ attivita.longitudine }} },
                        map: map
                      });
                  }
              {% endif %}
          </script>
          {% if attivita.latitudine and attivita.longitudine %}
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgd9efyE6IDhqujcNVWDnJFztZllr21Co&callback=myMap"></script>
          {% endif %}
{% endblock %}
